extends layout

block content
 h1= title
 div(class="mian")
   div(class="adframe")
   each val in title
    div(class="adleft")
       div(class="ico")
         i(class=`fa ${val.ico}`)
       span(class="title") #{val.name}
       span(class="depict") #{val.content}
       div#r(class="right")
         div(class="rbt")
          span #{val.name}
    div(class="adright")

